RewriteEngine on



############
## ERRORS ##
############
#ErrorDocument 401 http://chuckcss.io/404.html
#ErrorDocument 403 http://chuckcss.io/404.html
#ErrorDocument 404 http://chuckcss.io/404.html
#ErrorDocument 500 http://chuckcss.io/404.html


###########
# GENERAL #
###########
RewriteRule ^index$ index.html [L,QSA]
RewriteRule ^reminder$ reminder.html [L,QSA]
RewriteRule ^getting-started$ getting-started.html [L,QSA]
RewriteRule ^documentation$ documentation.html [L,QSA]
