@charset "UTF-8";

@import "bower_components/ChuckCSS/chuckcss/front";
@import "prism";
@import "cookies";
@import "hamburger";

@chuckgreen : #35d7be; // Light green in logo
@chuckgreen-da : #2fc0aa; // Dark green in logo

body {
    min-height:100vh;
}

.open-menu {
    ._media-s-up({
        display:none;
    });
}
